* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table, th, td {
  border: 1px solid black;
}

.name {
  margin-left: 190px;
  color: black;
}

.header {
  margin-top: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  width: 100%;
}

h1 {
  margin-bottom: 1em;
  background-color: rgba(120, 120, 120, 0.7);
  border: 1px solid black;
  color: white;
  text-align: center;
  font-family: verdana;
}

h2 {
  background-color: rgba(160, 160, 160, 0.7);
  border: 1px solid black;
  color: white;
  text-align: center;
  font-family: verdana;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  text-align: center;
  font-family: verdana;
}

h4, p {
  font-family: courier;
  text-align: center;
  margin-top: 20px;
}

.heade {
  display: center;
  justify-content: space-around;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: rgba(160, 160, 160, 0.3);
  border: 1px solid black;
  width: 100%;
}

dt, dd {
  font-family: courier;
  margin-top: 0.5em;
  margin-bottom: 0, 5em;
}

th, a {
  font-family: courier;
}

.photo {
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.Gallery {
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: rgba(160, 160, 160, 0.3);
  border: 1px solid black;
  width: 100%;
}

.mygallery {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr;
}

.photog {
  box-shadow: 1px 1px 5px #462320;
  width: 300px;
  height: 250px;
  border: 2px solid #f7eeed;
}

.labe, .textplace {
  font-family: courier;
}

footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer.p{
  font-family: courier;
  margin-top: 20px;
}

.button {
  padding: 10px;
  bottom: 50px;
  right: 50px;
}

.bphoto{
  width: 50px;
}