$c-main: black;
$b-main: lightgrey;

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: $c-main;
}

body {
    background-image: url("../pictures/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header, section, footer {
    max-width: 1200px;
    background-color: $b-main;
    margin: 0 auto;
}

header{
    padding-top: 20px;
    border-top: 2px solid $c-main;
    border-bottom: 2px solid $c-main;
    height: 16rem;

    h1{
        display: block;
    }


}

.top{
        margin-left: 70%;
    }

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 0;
}

.full-height {
    min-height: 600px;
    height: 100vh;
}

.flex {    
    &-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:1rem;
    }
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $c-main;
    border-radius: 10px;
    padding: 10px;
    
    img{
        width: 200px;
        height: 120px;
        border-radius: .2rem;
    }
    h3,p,i,a{
        padding: 0.5rem;
    }

    button{
        background-color: $b-main;
        color:$c-main;
        padding: 0.25rem 0.5rem;
        border: 1px solid $c-main;
    }

}