$back: #ffa500;
$button_back: #005eff;
$white:white;
$grey_bord: #0000005e;
$blue_shadow: rgba(70, 229, 157, .5);
$grey_shadow: rgba(0, 0, 0, .1);

@mixin section-title {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.05em;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}

.header {
    height: 120px;
    background-color: $back;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0;


        &__item  {
            padding-right: 20px;
        }
    }

    &__icon {
        height: 60px;
        width: 60px;
    }
}

.goods {
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    &__title {
        @include section-title; 
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 30px;
        padding-bottom: 50px;


        &__item {   
            display: flex;
            flex-direction: column;
            align-items: center;

            &__img {
                height: 350px;
                width: 300px;
            }

            &__name {
                font-size: 20px;

            }

            &__price {
                font-size: 20px;
                margin-top: -10px;
            }

            &__button {
                text-align: center;
                width: 120px;
                height: 35px;
                border-radius: 45px;
                font-size: 15px;
                color: $back;
                background: $white;
                text-transform: uppercase;
                font-family: 'Times New Roman', Times, serif;
                font-weight:bold;
                letter-spacing: 0.03em;
                box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
                transition: .3s; 

                &:hover {
                    background: $button_back;
                    box-shadow: 0 15px 20px $blue_shadow;
                    color: $white;
                }
            }

            
        }
    }
}

.cart {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        @include section-title; 
        margin-top: 40px;
        margin-bottom: 40px;
    }
    

    &__list {
        width: 500px;
        align-items: center;
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid $grey_bord;
            position: relative;


            &__img {
                height: 100px;
                width: 70px;
            }

            &__text {
                display: flex;
            }

            &__name {
                margin-right: 10px;
                margin-left: 10px;
                width: 260px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 20px;
            }

            &__amount-cnt { 
                position: absolute;
                right: 30px;
                display: flex;
            }

            &__amount { 
                font-size: 30px;
                padding: 0;
                margin: 0;
            }

            &__remove {
                width: 15px;
                height: 30px;
                margin: 10px;
                margin-top: 0;
                padding: 0;
                font-size: 30px;
                cursor: pointer;
            }

            &__add {
                width: 15px;
                height: 30px;
                margin: 10px;
                margin-top: 0;
                padding: 0;
                font-size: 30px;
                cursor: pointer;
            }

            &__delete {
                position: absolute;
                top: 2px;
                right: 8px;
                font-size: 22px;
                font-family: monospace;
                cursor: pointer;
            }
        }

        &__total {
            font-size: 20px;
            letter-spacing: 0.05em;
            margin-bottom: 15px;
            display: flex;

            &__text {
                margin: 0;
                margin-left: 5px;
            }
        }

        &__button {
            text-align: center;
                width: 120px;
                height: 35px;
                border-radius: 45px;
                font-size: 15px;
                color: $back;
                background: $white;
                text-transform: uppercase;
                font-family: 'Times New Roman', Times, serif;
                font-weight:bold;
                letter-spacing: 0.03em;
                box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
                transition: .3s; 

                &:hover {
                    background: $button_back;
                    box-shadow: 0 15px 20px $blue_shadow;
                    color: $white;
                }
        }
    }
}

.success {
    &__text {
        font-size: 45px;
        width: 600px;
        margin: 100px auto;
        padding: 50px;
        border: 1px solid $grey_bord;
    }
}
